html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#header {
	background-color: white;
	height: 42px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	position: relative;
	position: fixed;
	width: 100%;
	top: 0;
	background-repeat: no-repeat;
	white-space: nowrap;
	z-index: 9;
}
ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	background-color: white;
	padding: 10px 9px 11px 9px;
}

.bild1, .bild2, .bild3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bild1 {
	background-image: url("b1.jpg");
	height: 100%;
	margin-top: 42px;

}
.bild2 {
	background-image: url("bh.jpg");
	height: 100%;

}
.bild3 {
	background-image: url("b1.jpg");
	height: 100%;
}
#presentation, #kontaktSida, #portfolioSida {
	background-color: white;
	height: 40%;
	width: 100%;
}
a  {
	color: black;
	text-decoration: none;
	margin: 0;

}
li:hover {
	background-color: lightgrey;
}

#welcome{
	position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -90px;
	margin-top: -25px;
	font-size: 40px;
	color: white;
	opacity: 0.73;
	background-color: black;
	width: 210px;
}